<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-agriculture" role="menuitem"><a href="{{site.baseurl}}tag/agriculture">Agriculture</a></li>
    <li class="nav-healthcare" role="menuitem"><a href="{{site.baseurl}}tag/healthcare">Health care</a></li>
    <li class="nav-smartcities" role="menuitem"><a href="{{site.baseurl}}tag/smart-cities">Smart Cities</a></li>
</ul>
